/* Tùy chỉnh giao diện của thanh kéo */
#slider {
    border: none;
    background: #bfd1ec;
}

/* Thanh kéo chính */
.noUi-base {

}

/* Thanh kéo đã kết nối */
.noUi-connect {
    background: #dc3545; /* Màu của thanh kéo đã kết nối */
}

/* Thang số trên tay cầm */
.noUi-handle {
    background: #dc3545;
    box-shadow: none;
    border: 2px solid #bfd1ec;
}

/*.noUi-handle::before{*/
/*    content: none;*/
/*}*/
/*.noUi-handle::after{*/
/*    content: none;*/
/*}*/

/* Thay đổi màu của tay cầm khi hover */
.noUi-handle:hover {
    background: #dc3545; /* Màu nền của tay cầm khi hover */
    border: 2px solid black; /* Màu viền của tay cầm khi hover */
}

