@inject SignInManager<User> SignInManager
@inject UserManager<User> UserManager


<ul class="navbar-nav">
    <li class="nav-item">
        <a class="nav-link text-dark btn border px-3" asp-page="/Like/Index"><i class="fa-regular fa-heart"></i></a>
    </li>
    @if (SignInManager.IsSignedIn(User))
    {
        var identityUser = await UserManager.GetUserAsync(User);

        <li class="nav-item">
            <a class="nav-link text-dark my-hover-underline" asp-area="Identity" asp-page="/Account/Manage/Index" title="Manage">Xin chào @identityUser.FullName</a>
        </li>
        <li class="nav-item">
            <form class="form-inline " asp-area="Identity" asp-page="/Account/Logout" asp-route-returnUrl="@Url.Page("/Index", new { area = "" })">
                <button type="submit" class="nav-link btn btn-link text-dark my-hover-underline">Đăng xuất</button>
            </form>
        </li>
    }
    else
    {
        <li class="nav-item">
            <a class="nav-link text-dark my-hover-underline" asp-area="Identity" asp-page="/Account/Register">Đăng ký</a>
        </li>
        <li class="nav-item">
            <a class="nav-link text-dark my-hover-underline" asp-area="Identity" asp-page="/Account/Login">Đăng nhập</a>
        </li>
    }
</ul>