@page
@model Index

@{
    Layout = "Shared/_HomepageLayout";
}

<div class="row">
    <div class="col-md-3">
        <nav class="
@*          navbar navbar-expand-sm *@@*          navbar-toggleable-sm *@
        navbar-light  
        border rounded-3">
            <div class="container">
                <button class="navbar-toggler mx-auto" type="button" data-bs-toggle="collapse" data-bs-target="#sidebar" aria-controls="navbarSupportedContent"
                        aria-expanded="false" aria-label="Toggle navigation">
                    <span class="navbar-toggler-icon"></span>
                </button>
                <div id="sidebar"
                     class="navbar-collapse collapse d-sm-inline-flex justify-content-between
                         my-bg-gray rounded-3
                     ">
                    <ul class="navbar-nav flex-column flex-grow-1">
                        <li class="nav-item">
                            <a class="nav-link px-3 text-dark fw-bold" asp-area="" asp-page="/Post/Create">Đăng tin</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link px-3 text-dark fw-bold" asp-area="" asp-page="/">Quản lý tin đăng</a>
                        </li>
                    </ul>
                </div>
            </div>
        </nav>
    </div>
    <div class="col-8">

    </div>
</div>