@page
@model BannedModel
@{
    ViewData["Title"] = "Tài khoản bị khóa";
}

<header>
    <h1 class="text-danger">@ViewData["Title"]</h1>
    <p class="text-danger">Tài khoản của bạn đã bị cấm khỏi trang web</p>
</header>
