@page
@model ExternalLoginModel
@{
    ViewData["Title"] = "Đăng ký";
}


<div class="row">
    <div class="col-md-6 mx-auto">
        <section>
            <h1>@ViewData["Title"]</h1>
            <h2 id="external-login-title">Liên kết tài khoản @Model.ProviderDisplayName .</h2>
            <hr/>

            <p id="external-login-description" class="text-info">
                Xác thực thành công với <strong>@Model.ProviderDisplayName</strong>.
                Nhập địa email để hoàn tất đăng ký
            </p>
        </section>
        <section>
            <form asp-page-handler="Confirmation" asp-route-returnUrl="@Model.ReturnUrl" method="post">
                <div asp-validation-summary="ModelOnly" class="text-danger" role="alert"></div>
                <div class="form-floating mb-3">
                    <input asp-for="Input.Email" class="form-control" autocomplete="email" placeholder="Vui lòng nhập mật khẩu."/>
                    <label asp-for="Input.Email" class="form-label"></label>
                    <span asp-validation-for="Input.Email" class="text-danger"></span>
                </div>
                @if (!ModelState.IsValid)
                {
                    <p>
                        <a id="resend-confirmation" class="text-danger" asp-page="./ResendEmailConfirmation">Gửi lại email xác nhận</a>
                    </p>
                }
                <button type="submit" class="w-100 btn btn-lg btn-danger">Đăng ký</button>
            </form>
        </section>
    </div>
</div>

@section Scripts {
    <partial name="_ValidationScriptsPartial"/>
}